body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Reset https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  font-family: "Ubuntu";
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.icon {
  height: 100%;
  transform: scaleX(-1);
  position: absolute;
  bottom: 0;
  right: 0;
}

header {
  color: aliceblue;
  display: flex;
  position: relative;
  background-color: #0b1b44;
}

.search-button {
  border: 0;
  font-size: 1.2rem;
  font-family: sans-serif;
  background: #0098ff;
  height: 4rem;
  width: 100px;
  border-radius: 0 8px 8px 0;
  color: aliceblue;
  padding: 5px;
}
.search-input {
  height: 4rem;
  flex: 1;
  border-radius: 8px 0 0 8px;
  padding: 15px;
}
.main-search {
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 3rem;
}

.search-button:hover {
  background: #0b1b44;
  cursor: pointer;
}

.container {
  max-width: 75rem;
  margin-inline: auto;
  position: relative;
  padding: 3rem 2rem;
}

.repo-cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding: 0;
}
.repo-card {
  display: block;
  border: 1px solid;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  transition: transform 250ms;
}

.repo-card:hover {
  transform: translateY(-15px);
  box-shadow: 0px 0px 10px grey;
  border-left: 4px solid #0098ff;
  margin: 5px;
}

div.container {
  width: 100%;
}

[data-stars],
[data-forks] {
  display: inline;
}

@media (max-width: 700px) {
  header {
    flex-direction: row-reverse;
  }
  .icon {
    transform: scaleX(1);
    left: 0;
  }
}
